trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.10'

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
    pip install dvc
  displayName: 'Install dependencies'

- script: |
    dvc pull -r origin || true
    make train
  displayName: 'Run training'

- task: PublishBuildArtifact@1
  inputs:
    PathtoPublish: 'models'
    ArtifactName: 'model'
    